* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background: #6f6666;
}
a {
  font-family: sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.disney-content {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}
.disney {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(5, 5, 5);
  padding: 20px;
  margin: 30px;
  /* gap: 50px; */
}

.disney img {
  width: 90%;
  height: 90%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero input {
  padding: 5px 50px;
  font-size: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  border: 2px solid rgb(3, 3, 2);
  padding: 8px;
  cursor: pointer;
  font-size: 30px;
}
.pagination button:hover {
  background: gold;
  color: white;
  font-size: 24px;
}

.hero a {
  font-size: 30px;
  margin: 10px;
}

html,
body {
  scroll-behavior: smooth;
}
